body{   
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
.wrapper {
    margin: 36px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.cursor-wrapper {
    display: inline;
    padding-top: -14px;
}
.blinking-cursor {
    display: inline-block;
    margin-left: .4em;
    font-size: 1.5em;
    color: #4D54D8;
    -webkit-animation: 2s blink infinite;
    -moz-animation: 2s blink infinite;
    -ms-animation: 2s blink infinite;
    -o-animation: 2s blink infinite;
    animation: 2s blink infinite;
}
@keyframes "blink" {
    0% {
        opacity: 1;
    }
    75% {
        opacity: .21;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    75% {
        opacity: .21;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes "blink" {
    0% {
        opacity: 1;
    }
    75% {
        opacity: .21;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes "blink" {
    0% {
        opacity: 1;
    }
    75% {
        opacity: .21;
    }
    100% {
        opacity: 1;
    }
}
.header {
    background-color: #fff;
    display: inline;
}

.navBar {
    display: inline-block;
    font-size: 0.9em;
}

.navBar ul {
    color: #4D54D8;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

.navBar ul li {
    display: inline-block;
    padding: 4px 16px;
}

.navBar a {
    
    text-decoration: none;
    padding: 0.5 1.2em;
    color: #4D54D8;
}
#wes-console {
    color: #2c333b!important;
}
.sidebar {
    width: 30%;
    order: 3;
}
.header.footer {
    display: flex;
    flex-direction: row;
    height: 50px;
    color: #fff; 
}
.profileContainer {
    padding-right: 24px;
    width: 240px;
    border-right:  1px solid #ddd;
}
.icons {
    display: flex;
    flex-direction: row;
}
.profilePic {
    width: 100%;
}
#about {
    padding: 12px 0;
    font-size: 12px;
    font-style: #00AF64;
}
h2 {
    color: #469D90;
    font-size: 26px;
}
h3{
    color:#333;
    font-size: 20px; 
}
.iconImg {
    max-height: 100%;
    max-width: 100%;
}
.column{
    display: flex;
    flex:1;
}
.content {
    margin-top: 12px;
    display: flex;
    flex: 1;
    color: #000;
}
.main {
    order: 3;
    flex:1;
}
.header-skill{
    padding-top: 30px;
    font-style: #00AF64;
}
.content {
    margin-top: 12px;
    display: flex;
    flex: 1;
    color: #000;
}
/*
ont-family: 'Merriweather', serif;
font-family: 'PT Sans Caption', sans-serif;
*/